body {
    background-color:black; 
    font-family:arial; 
    color:white
    }

h1{
    color:grey; 
    font-family: Verdana;
    margin:0;
    }

.maindiv {
    background-color: white; 
    color: black; 
    width: 500px; 
    padding: 20px; 
    border-radius: 25px;
    }

/*indent table from the left */
.inputtable{
    margin-left:80px;
}

/*indent results displayed theleft */
.resulttext{
    margin-left:80px;
    padding-top:5px;
    padding-bottom: 5px;
}
