body {
    background-color:black; 
    font-family:arial; 
    color:white
    }

h1{
    color:grey; 
    font-family: Verdana
    }

.maindiv {
    background-color: white; 
    color: black; 
    width: 500px; 
    padding: 20px; 
    border-radius: 25px;
    }

.inputtable{
    margin-left:80px;
}

.resulttext{
    margin-left:80px
}
/*

.container {
    width: 60%;
    margin: 0 auto;
}

.slider_length{
    width: 100px;
    }

